<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/alert' %>

    <div class='container py-5'>
      <%= yield %>
    </div>
  </body>
</html>
